# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/
venv/

# Environment settings
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# IDEs and editors
.vscode/
.idea/

# Output screenshots
latest_chart.png

# System files
*.swp